@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
 
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem  => Model.name)
        </td>
 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
            @Html.ActionLink("Details", "Details", new { id=Model.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.id })
        </td>
    </tr>
}

</table>
